{% load staticfiles %}
<div class="media ktowin-comment">
  <div class="media-left">
    <img src="http://ktowin.my/uploads/{{comment.user.userprofile.avatar}}" alt="Avatar" class="img-circle ktowin-avatar" />
    <div class="ktowin-media-ratio">
      <div class="ktowin-media-ratio-value">
        <span class = "ktowin-vote">{{comment.like_count}}</span>
      </div>
      <div class="btn-group btn-group-xs" role="group">
        <button class="btn btn-default" type="button" name="dislike"><span class="glyphicon glyphicon-thumbs-up"></span></button>
        <button class="btn btn-default" type="button" name="dislike"><span class="glyphicon glyphicon-thumbs-down"></span></button>
      </div>
    </div>
  </div>
  <div class="media-body">
    <h4 class="media-heading">{{comment.user.userprofile.nickname}}</h4>
    <p>
      {{comment.comment_text}}
    </p>
  </div>
</div>
