{% load staticfiles %}
<div class="media {{post.post_type}}">
  <div class="media-left media-top ">
    <img src="{{MEDIA_URL}}{{post.game.image}}" class="media-object" style="width:60px">
    <div class="ktowin-media-ratio">
      {% csrf_token %}
      <button post-id={{post.id}} class="btn btn-default js-post-like" type="button" name="like"><span post-id={{post.id}} class="glyphicon glyphicon-chevron-up"></span></button>
      <div class="ktowin-media-ratio-value">
        <span id={{post.id}}>{{post.like_count}}</span>
      </div>
      <button post-id={{post.id}} class="btn btn-default js-post-dislike" type="button" name="dislike"><span post-id={{post.id}} class="glyphicon glyphicon-chevron-down"></span></button>
    </div>
  </div>
  <div class="media-body">
    <h3 class="media-heading"><a href="{% url 'post_by_pk' pk=post.id %}">{{post.title|title|truncatechars:80}}</a></h3>
    <p>
      {{post.content|linebreaksbr|truncatewords:80}}
    </p>
  </div>
    {% include "ktoWin/post_info_bar.html" %}
</div>
