{% extends "ktoWin/base.html" %}
{% load staticfiles %}
{% block content %}
{% load bootstrap3 %}

<div class="media">
  <div class="media-left media-top ">
    <img src="http://ktowin.my/uploads/{{post.game.image}}" class="media-object" style="width:60px">
    <div class="ktowin-media-ratio">
      <button class="btn btn-default" type="button" name="dislike"><span class="glyphicon glyphicon-chevron-up"></span></button>
      <div class="ktowin-media-ratio-value">
          <span>{{post.like_count}}</span>
      </div>
      <button class="btn btn-default" type="button" name="dislike"><span class="glyphicon glyphicon-chevron-down"></span></button>
    </div>
  </div>
  <div class="media-body">
    <h3 class="media-heading">{{post.title|truncatechars:255}}</h3>
    <p>{{post.content|linebreaksbr}}</p>

    <div class="media-bottom ktowin-media-row">
        <h5 class="ktowin-media-row">Tags:</h5>
        {% for tag in post.tags.all %}
          <a class="ktowin-media-row" href="{% url 'find_by_tag' tag=tag %}">{{tag}}</a>
        {% endfor %}
        <h5 class="ktowin-date "> {{post.date}}</h5>
    </div>
  </div>
</div>
<hr>
{% for comment in comments %}
  {% include "ktoWin/comment_block.html" %}
{% empty %}
  <h4>К этой новости еще нет комментариев</h4>
{% endfor %}
<br/>
<form class="form-horizontal" method="POST">
  {% csrf_token %}
  {% bootstrap_form form%}
  <button type="submit" class="btn btn-default ktowin-submit-btn" name="submit_comment">Comment!</button>
</form>
{% endblock %}
