{% extends "ktoWin/base.html" %}
{% load staticfiles %}
{% block content %}

<div class="media">
  <div class="media-left media-top ">
    <img src="{% static "src/chess-icon.ico" %}" class="media-object" style="width:60px">
    <div class="ktowin-media-ratio">
      <button class="btn btn-default" type="button" name="dislike"><span class="glyphicon glyphicon-chevron-up"></span></button>
      <div class="ktowin-media-ratio-value">
          <span>{{post.rating}}</span>
      </div>
      <button class="btn btn-default" type="button" name="dislike"><span class="glyphicon glyphicon-chevron-down"></span></button>
    </div>
  </div>
  <div class="media-body">
    <h3 class="media-heading">{{post.title|truncatechars:255}}</h3>
    <p>{{post.text|linebreaksbr}}</p>

    <div class="media-bottom ktowin-media-row">
        <h5 class="ktowin-media-row">Tags:</h5>
        {% for tag in post.tags %}
          <a class="ktowin-media-row" href="{% url 'find_by_tag' tag=tag %}">{{tag}}</a>
        {% endfor %}
        <h5 class="ktowin-date "> {{post.date}}</h5>
    </div>
  </div>
</div>
<hr>
{% for comment in post.comments %}
  {% include "ktoWin/comment_block.html" %}
{% endfor %}

<form class="form-horizontal" method="post">
  <textarea class="form-control" name="comment" placeholder="Comment here..."rows="4"></textarea>
  <button type="submit" class="btn btn-default ktowin-submit-btn" name="submit_comment">Comment!</button>
</form>
{% endblock %}
