<div class="ktowin-left-row">
  <div class="tags-list">
    <h3 id="ktowin-tags-list">Popular Tags</h3>
    <div class="ktowin-tags-list-values">
      <a class="ktowin-hot-tag" href="/find/">Russia</a>
      <a href="#">USA</a>
      <a class="ktowin-medium-tag" href="#">Isinbaeva</a>
      <a href="#">Faker</a>
      <a href="#">Moscow</a>
      <a class="ktowin-hot-tag" href="/find/">Victory</a>
    </div>
  </div>
  <div class="games-list">
    <h3 id="ktowin-games-list">Popular Games</h3>
    <ul class="ktowin-games-list">
      <li><a href="#">Football</a></li>
      <li><a href="#">Chess</a></li>
      <li><a href="#">Dota2</a></li>
      <li><a href="#">Tennis</a></li>
      <li><a href="#">Racing</a></li>
      <li><a href="#">Baseball</a></li>
      <li><a href="#">League of legends</a></li>
    </ul>
  </div>
</div>
