<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>GET and POST</title>
  </head>
  <body>
    <form  method="post">
      {% csrf_token %}
      <input type="text" name="name" value="">
      <input type="submit" value="Submit" >
    </form>

    <h2> Post data</h2>
    {% for key, value in request.POST.items %}
      {{key}}: {{value}} </br>
    {% endfor %}
    <h2> Get data</h2>
    {% for  key, value in request.GET.items %}
      {{key}}: {{value}} </br>
    {% endfor %}
  </body>
</html>
